$orange-color: #fd926d;
$turquoise-color: #4fafa0;
$light-turquoise-color: #dfedee;
$text-color: #999999;
$grey-color-header: #b3b3b3;
$brown-color-slider: #78645d;
$brown-color-ratio-slider: #867a76;
$gray-background-color: #ededed;
$dark-color-header: #414141;
$brown-color-banner: #4fafa0;
$grey-color-banner: #6a6a6a;
$grey-color-carousel: #555555;
$dark-color-carousel: #4c4c4c;
$dark-color-bag: #3d3d3d;
$text-color-carousel: #373737;
$gray-color-line: #d8d8d8;
$lightblue-background-color: #f7f7f7;
$darkgrey-background-color: #4c4c4b;
$brown-color-light: #a59d9a;
$grey-color-darklinks: #8b8887;
$grey-color-lightlinks: #808080;

body {
    font: 14px/1.5em Arial, sans-serif;
    color: $text-color;
}

h1 {
    font-size: 32px;
    line-height: 1.5em;
}

h2 {
    font-size: 28px;
    line-height: 1.5;
}

h3 {
    font-size: 24px;
    line-height: 1.5;
}

h4 {
    font-size: 20px;
    line-height: 1.5;
}

h5 {
    font-size: 18px;
    line-height: 1.5;
}

h6 {
    font-size: 16px;
    line-height: 1.5;
}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.inline-block-list {
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
    }
}


