@import "./imports/_variables";
@import "./imports/_sprite";
@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";
body {
    font: 14px/1.5em Arial, sans-serif;
    color: $text-color;
}

h1 {
    font-size: 32px;
    line-height: 1.5em;
}

h2 {
    font-size: 28px;
    line-height: 1.5;
}

h3 {
    font-size: 24px;
    line-height: 1.5;
}

h4 {
    font-size: 20px;
    line-height: 1.5;
}

h5 {
    font-size: 18px;
    line-height: 1.5;
}

h6 {
    font-size: 16px;
    line-height: 1.5;
}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.inline-block-list {
    margin: 0;
    padding: 0;
    >li{
        display: inline-block;
    }
}

.icon {
    display: inline-block;
}

@import "imports/_header";
@import "imports/_slider";




