/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
body {
  font: 14px/1.5em Arial, sans-serif;
  color: #000; }

h1 {
  font-size: 32px;
  line-height: 1.5em; }

h2 {
  font-size: 28px;
  line-height: 1.5; }

h3 {
  font-size: 24px;
  line-height: 1.5; }

h4 {
  font-size: 20px;
  line-height: 1.5; }

h5 {
  font-size: 18px;
  line-height: 1.5; }

h6 {
  font-size: 16px;
  line-height: 1.5; }

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }

.inline-block-list {
  margin: 0;
  padding: 0; }
  .inline-block-list > li {
    display: inline-block; }

.icon {
  display: inline-block; }

.top-header {
  font-size: 11px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff; }
  .top-header .left-col {
    float: left; }
    .top-header .left-col > strong {
      display: block;
      padding: 10px 0;
      font-weight: normal; }
  .top-header .right-col {
    float: right; }
    .top-header .right-col > li:first-child {
      border-left: 1px solid #444;
      border-right: 1px solid #444; }
    .top-header .right-col > li:last-child {
      border-left: 1px solid #444;
      border-right: 1px solid #444; }

.dropdown-menu a {
  display: block;
  padding: 10px 30px 10px 15px;
  color: #fff;
  text-decoration: none; }

.dropdown-menu > li:first-child, .dropdown-menu > li:last-child {
  border-left: 1px solid #444;
  border-right: 1px solid #444; }

.static-item {
  position: relative; }
  .static-item > a:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 10px;
    border: 5px solid transparent;
    border-top: 5px solid #fff; }

.dropdown-items {
  padding: 0; }
  .dropdown-items a {
    padding: 5px 10px;
    line-height: 1.2em; }

.static-item:hover .dropdown-items {
  display: block; }

.static-item .dropdown-items {
  position: absolute;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 20; }

.account a {
  position: relative;
  padding: 10px 15px 10px 35px; }
  .account a:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 10px;
    background-image: url(../img/sprites/sprite.png);
    background-position: -86px -121px;
    width: 14px;
    height: 13px; }

.search {
  position: relative; }
  .search label {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 35px; }
    .search label:after {
      content: '';
      position: relative;
      top: 11px;
      margin-left: 10px;
      display: block;
      background-image: url(../img/sprites/sprite.png);
      background-position: -111px -68px;
      width: 15px;
      height: 15px;
      cursor: pointer; }
  .search input {
    position: absolute;
    top: 4px;
    right: 0;
    height: 30px;
    width: 300px;
    padding-left: 10px; }

.search.disabled input {
  display: none; }

.slide-down {
  position: absolute;
  right: -1px;
  width: 302px;
  background-color: #fff;
  z-index: 20; }
  .slide-down a {
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #444;
    border-top: none;
    color: #000; }
    .slide-down a:hover {
      background-color: #f6f3ec; }

.slide-down.disabled {
  display: none; }

.main-header .container {
  padding: 20px 15px; }

.logo {
  float: left;
  padding-top: 20px; }
  .logo strong {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
  .logo img {
    font-size: 20px;
    line-height: 24px; }

.cart-wrapper {
  float: right; }
  .cart-wrapper a {
    position: relative;
    display: block;
    width: 210px;
    padding: 5px 10px;
    border: 1px solid #d6d6d6;
    text-decoration: none;
    color: #949393; }
    .cart-wrapper a:hover {
      background-color: #f6f3ec; }
    .cart-wrapper a:first-child:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 10px;
      border: 5px solid transparent;
      border-top: 5px solid #d6d6d6;
      z-index: 10; }
    .cart-wrapper a:last-child {
      text-align: right;
      border-top: none; }
      .cart-wrapper a:last-child:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 10px;
        background-image: url(../img/sprites/sprite.png);
        background-position: -91px -68px;
        width: 20px;
        height: 19px;
        z-index: 10; }

.main-header-nav {
  float: right; }
  .main-header-nav > a {
    display: none;
    position: relative;
    cursor: pointer; }
    .main-header-nav > a:after {
      content: "";
      position: absolute;
      top: 10px;
      right: 15px;
      height: 30px;
      width: 35px;
      background-image: url("../img/sprites/sprite.png");
      background-position: -126px 0px; }

.media-nav-btn {
  padding: 15px 20px; }

.main-header-nav .inline-block-list > li {
  position: relative;
  z-index: 10; }
  .main-header-nav .inline-block-list > li > a {
    display: block;
    padding: 20px 40px 0 0;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    cursor: pointer; }
    .main-header-nav .inline-block-list > li > a:after {
      content: "";
      position: absolute;
      top: 33px;
      right: 25px;
      border: 5px solid transparent;
      border-top: 5px solid #000; }

.submenu {
  position: absolute;
  display: none;
  left: -20px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7); }
  .submenu > li {
    display: block;
    width: 150px; }
    .submenu > li > a {
      line-height: 30px;
      text-decoration: none;
      color: #000; }

@media only screen and (max-device-width: 860px) {
  .main-header-nav .inline-block-list > li > a {
    padding-right: 25px; }
  .main-header-nav .inline-block-list > li > a:after {
    right: 12px; } }

@media only screen and (max-device-width: 768px) {
  .static-item .dropdown-items.hide-dropdown-items {
    display: none; }
  .static-item .dropdown-items {
    display: block; }
  .main-header-nav {
    float: none;
    clear: both;
    background-color: #fd926d; }
  .main-header-nav > a {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
  .main-dropdown-menu {
    display: none; }
  .main-header-nav .main-dropdown-menu .nav-btn {
    padding: 0 20px; }
  .main-header-nav .submenu {
    position: static;
    padding-left: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .main-header-nav .inline-block-list > li {
    display: block; }
  .main-header-nav .inline-block-list > li a:after {
    border: none; }
  .cart-wrapper {
    padding-bottom: 20px; } }

@media only screen and (max-device-width: 640px) {
  .top-header .container {
    padding: 0; }
  .top-header .right-col, .top-header .left-col {
    float: left;
    padding: 0 15px; }
  .top-header .left-col {
    padding: 25px 15px;
    text-align: center;
    font-size: 30px;
    color: #838383;
    background-color: #fff; }
  .top-header .right-col li:first-child {
    border-left: none; }
  .top-header .right-col li:last-child {
    border-right: none; }
  .dropdown-menu {
    text-align: center; }
  .dropdown-menu a {
    padding: 35px 15px;
    font-size: 30px; }
  .static-item {
    float: left;
    margin-left: -15px;
    padding-right: 25px; }
  .top-header .right-col .static-item a:after {
    top: 40px;
    right: 12px;
    border: 10px solid transparent;
    border-top: 10px solid white; }
  .dropdown-items {
    text-align: left; }
  .dropdown-menu {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .dropdown-menu .dropdown-items a {
      padding: 15px 10px; }
  .right-col .account {
    padding-left: 60px; }
  .top-header .account a:before {
    top: 24px;
    left: -40px;
    background-image: url(../img/sprites/sprite.png);
    background-position: -51px 0px;
    width: 40px;
    height: 38px; }
  .search {
    float: right;
    height: 90px;
    width: 90px; }
  .search label:after {
    top: 23px;
    left: -5px;
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -49px;
    width: 38px;
    height: 38px; }
  .search input {
    height: 80px;
    width: 470px;
    font-size: 30px; }
  .slide-down {
    top: 84px;
    right: 0;
    width: 470px;
    padding: 0;
    text-align: left; }
  .logo {
    float: none;
    padding-bottom: 50px;
    text-align: center; }
  .cart-wrapper {
    float: none; }
  .cart-wrapper a {
    width: auto;
    height: 80px;
    padding-right: 20px;
    font-size: 30px;
    line-height: 80px; }
  .cart-wrapper a:first-child {
    display: none; }
  .cart-wrapper a:nth-child(2) {
    border-top: 1px solid #949393; }
  .cart-wrapper a:last-child:before {
    top: 16px;
    left: 20px;
    height: 50px;
    width: 50px;
    background-position: -1730px -1px; }
  .main-header-nav > a:after {
    top: 30px;
    right: 20px;
    height: 30px;
    width: 33px; }
  .main-header-nav .media-nav-btn {
    font-size: 30px;
    padding: 35px 20px; } }

@media only screen and (max-device-width: 600px) {
  .logo {
    padding-bottom: 20px; }
  .cart-wrapper a:nth-child(2) {
    height: 50px; }
  .cart-wrapper a:last-child:before {
    top: 5px;
    left: 10px; }
  .cart-wrapper a:last-child {
    line-height: 50px; }
  .main-header-nav .media-nav-btn {
    padding: 20px 15px; }
  .main-header-nav > a:after {
    top: 15px;
    right: 15px; } }

@media only screen and (max-device-width: 530px) {
  .search {
    width: 60px; } }

@media only screen and (max-device-width: 500px) {
  .top-header .left-col {
    padding: 0px 15px;
    font-size: 15px; }
  .dropdown-menu a {
    padding: 15px 5px;
    font-size: 15px; }
  .dropdown-menu .dropdown-items a {
    padding: 10px 5px; }
  .top-header .right-col .static-item a:after {
    top: 24px;
    right: 15px;
    border: 5px solid transparent;
    border-top: 5px solid white; }
  .right-col .account {
    padding-left: 40px; }
  .top-header .account a:before {
    top: 19px;
    left: -20px;
    background-image: url(../img/sprites/sprite.png);
    background-position: -86px -121px;
    width: 14px;
    height: 13px; }
  .search {
    height: 50px; }
  .search input {
    height: 42px;
    width: 300px;
    font-size: 16px; }
  .search .slide-down {
    top: 52px;
    width: 300px; }
  .search label:after {
    top: 18px;
    left: 5px;
    background-image: url(../img/sprites/sprite.png);
    background-position: -111px -68px;
    width: 15px;
    height: 15px; }
  .logo {
    padding: 0 0 10px 0; }
  .logo img {
    max-width: 280px; }
  .cart-wrapper a:nth-child(2) {
    height: 40px;
    font-size: 18px; }
  .cart-wrapper a:last-child:before {
    top: 0px; }
  .cart-wrapper a:last-child {
    line-height: 40px; } }

.bx-wrapper a.bx-prev {
  top: 238px;
  left: 8px;
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 18px; }

.bx-wrapper .bx-prev:hover {
  top: 238px;
  left: 8px;
  background-position: -159px -102px; }

.bx-wrapper a.bx-next {
  top: 238px;
  right: 8px;
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -120px;
  width: 12px;
  height: 18px; }

.bx-wrapper .bx-next:hover {
  top: 238px;
  right: 8px;
  background-position: -159px -120px; }

.bx-wrapper .bx-loading {
  background-image: none; }

.bx-wrapper .bx-viewport .bxslider {
  margin: 0; }

.bx-wrapper .bx-pager {
  bottom: -45px; }

.slide {
  height: 440px;
  background-color: #f6f3ec;
  background: -moz-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -webkit-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -o-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -ms-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%); }
  .slide .container {
    position: relative;
    height: 100%; }
  .slide .slideImg {
    height: 100%; }
    .slide .slideImg img {
      height: 100%;
      margin: 0 0 0 350px; }
  .slide .slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    padding: 45px 0 0 65px;
    text-align: center; }
    .slide .slide-info .top-text {
      position: relative;
      display: block;
      font: 36px/1.2 luxuryroyalejfregular;
      color: #78645d; }
      .slide .slide-info .top-text:before, .slide .slide-info .top-text:after {
        content: "";
        position: absolute;
        top: 25px;
        display: block;
        height: 1px;
        width: 75px;
        background-color: #78645d; }
      .slide .slide-info .top-text:before {
        left: 45px; }
      .slide .slide-info .top-text:after {
        right: 45px; }
    .slide .slide-info .main-text {
      position: relative;
      display: block;
      font: 96px/0.8 'Helvetica Neue LT Std';
      text-transform: uppercase;
      background: url("../img/background-images/background-text.jpg");
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 4px solid #78645d; }
    .slide .slide-info .bottom-text {
      display: block;
      width: 350px;
      margin-top: 5px;
      font: 36px/50px 'HelveticaNeueLTStd-LtCn';
      text-transform: uppercase;
      color: #78645d;
      border-top: 1px solid #78645d; }
    .slide .slide-info a {
      position: relative;
      display: block;
      margin: 10px auto;
      width: 130px;
      padding: 20px 20px 20px 0;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid #dd6b44;
      color: #fff;
      background-color: #fd926d; }
      .slide .slide-info a:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 10px;
        border: 5px solid transparent;
        border-left: 5px solid white; }
      .slide .slide-info a:hover {
        background-color: #dd6b44;
        background: -moz-linear-gradient(#fd926d, #dd6b44, #dd6b44);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#fd926d), to(#dd6b44), color-stop(0.5, #dd6b44));
        background: -o-linear-gradient(#fd926d, #dd6b44, #dd6b44);
        background: -ms-linear-gradient(#fd926d, #dd6b44, #dd6b44);
        background: linear-gradient(#fd926d, #dd6b44, #dd6b44); }

.bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
  margin: 0 10px;
  background: #867a76; }
  .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link:hover {
    background-color: #fd926d; }

.bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
  background-color: #fd926d; }

main .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: 0; }

.slide {
  position: relative; }
  .slide:before, .slide:after {
    content: '';
    position: absolute;
    top: 160px;
    height: 120px;
    width: 30px;
    background-color: white; }
  .slide:after {
    right: 0; }

@media only screen and (max-device-width: 1050px) {
  .slide > .container img {
    margin: 0 0 0 300px; } }

@media only screen and (max-device-width: 860px) {
  .slide > .container img {
    margin: 0 0 0 200px; }
  .slide .slide-info {
    width: 270px; }
  .slide span {
    font: 26px/1.2 luxuryroyalejfregular; }
  .slide span:before, .slide span:after {
    width: 50px;
    top: 20px; }
  .slide span:before {
    left: 40px; }
  .slide span:after {
    right: 40px; }
  .slide strong {
    font: 26px 'HelveticaNeueLTStd-LtCn'; }
  .slide .main-text {
    font: 70px/0.8 'Helvetica Neue LT Std'; } }

@media only screen and (max-device-width: 768px) {
  .slide {
    height: 350px; }
    .slide > .container img {
      margin: 0 0 0 230px; }
    .slide .container .slide-info {
      padding: 45px 0 0 70px; }
    .slide:before, .slide:after {
      top: 110px; }
  .bx-wrapper .bx-controls .bx-controls-direction a {
    top: 190px; }
  .bx-wrapper .bx-prev {
    top: 100px; } }

@media only screen and (max-device-width: 640px) {
  .left-col {
    width: 100%; }
  .slider {
    display: none; } }

.main-social {
  font-size: 12px;
  line-height: 50px;
  color: #6b6b6b;
  background-color: #ededed;
  margin-bottom: 25px; }
  .main-social .container {
    text-align: right; }
  .main-social .email-pointer, .main-social .email {
    float: left; }
  .main-social input {
    float: left;
    width: 160px;
    margin: 13px 0 0 10px;
    padding: 5px;
    font-style: italic;
    outline: none;
    border: 0; }
  .main-social .wrapper-submit {
    float: left;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    margin: 11px 0 8px 0;
    border-bottom: 3px solid #dfedee;
    background-color: #fd926d;
    position: relative; }
    .main-social .wrapper-submit .plus, .main-social .wrapper-submit .plus:before {
      position: absolute;
      background: #fff; }
    .main-social .wrapper-submit .plus {
      top: 50%;
      left: 50%;
      height: 12px;
      width: 4px;
      transform: translate(-50%, -50%); }
      .main-social .wrapper-submit .plus:before {
        content: '';
        top: 33%;
        left: -100%;
        height: 4px;
        width: 12px; }

.main-social-icons, .social-pointer {
  display: inline-block; }

.social-pointer {
  margin-right: 15px; }

.main-social-icons {
  text-align: right; }
  .main-social-icons li:nth-child(odd) {
    background-color: #f7f7f7; }
  .main-social-icons a {
    display: block;
    width: 50px;
    text-align: center; }
  .main-social-icons .icon {
    vertical-align: middle;
    text-indent: -9999px; }
  .main-social-icons .icon-facebook {
    background-image: url(../img/sprites/sprite.png);
    background-position: -148px -87px;
    width: 9px;
    height: 18px; }
  .main-social-icons .icon-twitter {
    background-image: url(../img/sprites/sprite.png);
    background-position: -65px -121px;
    width: 21px;
    height: 17px; }
  .main-social-icons .icon-pinterest {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -121px;
    width: 22px;
    height: 21px; }

.banner {
  margin-bottom: 40px; }
  .banner .left-col {
    position: relative;
    float: left;
    width: 49.8%; }
    .banner .left-col img {
      width: 100%; }
  .banner .left-col-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 45px 40px;
    text-align: center; }
    .banner .left-col-header span {
      display: block; }
      .banner .left-col-header span:first-child {
        font: 34px/50px 'Helvetica Neue LT Std';
        text-transform: uppercase;
        color: #414141; }
      .banner .left-col-header span:nth-child(2) {
        font: 75px/75px 'HelveticaNeueLTStd-ThCn';
        text-transform: uppercase;
        color: #414141; }
      .banner .left-col-header span:nth-child(3) {
        position: relative;
        height: 35px;
        width: 35px;
        margin: 0 auto;
        border-radius: 50%;
        font: 22px/22px 'HelveticaNeueLTStd-LtCnO';
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: #414141; }
        .banner .left-col-header span:nth-child(3):before, .banner .left-col-header span:nth-child(3):after {
          content: "";
          position: absolute;
          top: 17px;
          display: block;
          height: 1px;
          width: 85px;
          background-color: #414141; }
        .banner .left-col-header span:nth-child(3):before {
          left: 45px; }
        .banner .left-col-header span:nth-child(3):after {
          right: 45px; }
      .banner .left-col-header span:nth-child(4) {
        font: 82px/82px 'Helvetica Neue LT Std';
        text-transform: uppercase;
        color: #4fafa0; }
  .banner .right-col {
    float: right;
    width: 49.8%; }
  .banner .large-img {
    position: relative;
    line-height: 0;
    margin-bottom: 3px; }
    .banner .large-img img {
      width: 100%; }
  .banner .large-img-header-box {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 75%;
    width: 26%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 1px -2px #4fafa0; }
  .banner .large-img-header {
    position: absolute;
    top: 4%;
    left: 4%;
    height: 93%;
    width: 93%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dfedee;
    border-radius: 50%;
    z-index: 10; }
    .banner .large-img-header span {
      display: block; }
      .banner .large-img-header span:first-child {
        margin-top: 15%;
        font: 22px/22px 'Bello Script';
        text-transform: capitalize;
        color: #fd926d; }
      .banner .large-img-header span:nth-child(2) {
        font: 42px/45px "HelveticaNeueLTStd-ThCn";
        text-transform: uppercase;
        color: #c1aea8; }
      .banner .large-img-header span:nth-child(3) {
        font: 14px/14px 'Helvetica Neue LT Std';
        text-transform: uppercase;
        color: #6a6a6a; }
  .banner .small-img {
    position: relative;
    float: left;
    width: 49.6%; }
    .banner .small-img img {
      width: 100%; }
  .banner .left-img {
    float: left; }
  .banner .right-img {
    float: right; }
  .banner .left-img-header {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font: 34px/34px 'HelveticaNeueLTStd-ThCn';
    text-transform: uppercase;
    color: #fff; }
    .banner .left-img-header:after {
      content: "";
      position: absolute;
      top: 10px;
      right: -20px;
      background-image: url(../img/sprites/sprite.png);
      background-position: -51px -38px;
      width: 6px;
      height: 11px; }
  .banner .right-img-header {
    position: absolute;
    top: 40px;
    left: 15px;
    text-align: center; }
    .banner .right-img-header span {
      display: block;
      font: 36px/34px 'HelveticaNeueLTStd-ThCn';
      font-weight: bold;
      text-transform: uppercase;
      color: #fff; }
  .banner .button {
    position: absolute;
    left: 25px;
    bottom: 20px; }
    .banner .button a {
      display: block;
      padding: 5px 25px 5px 10px;
      font-size: 12px;
      text-transform: uppercase;
      background-color: #4fafa0;
      color: #fff;
      text-decoration: none; }
      .banner .button a:after {
        content: "";
        position: absolute;
        top: 11px;
        right: 5px;
        border: 5px solid transparent;
        border-left: 5px solid white; }
      .banner .button a:hover {
        cursor: pointer; }

@media only screen and (max-device-width: 1050px) {
  .banner .left-col-header strong:first-child {
    font: 24px/40px 'Helvetica Neue LT Std'; }
  .banner .left-col-header strong:nth-child(2) {
    font: 55px/55px 'HelveticaNeueLTStd-ThCn'; }
  .banner .left-col-header strong:nth-child(4) {
    font: 62px/62px 'Helvetica Neue LT Std'; }
  .right-col .large-img-header strong:first-child {
    font: 20px/20px 'Bello Script'; }
  .right-col .large-img-header strong:nth-child(2) {
    font: 37px/40px "HelveticaNeueLTStd-ThCn"; }
  .right-col .large-img-header strong:nth-child(3) {
    font: 10px/10px 'Helvetica Neue LT Std'; }
  .banner .left-img-header {
    font: 24px/24px 'HelveticaNeueLTStd-ThCn'; }
  .banner .left-img-header:after {
    top: 6px;
    right: -15px;
    background-image: url(../img/sprites/sprite.png);
    background-position: -51px -38px;
    width: 6px;
    height: 11px; }
  .banner .right-img-header strong {
    font: 30px/28px 'HelveticaNeueLTStd-ThCn'; }
  .banner .right-col .button a {
    padding: 2px 15px 2px 5px;
    bottom: 15px; }
  .banner .right-col .button a:after {
    top: 8px;
    right: 2px; } }

@media only screen and (max-device-width: 860px) {
  .banner .left-col-header {
    padding: 20px 30px; }
  .banner .right-img-header strong {
    font: 20px/16px 'HelveticaNeueLTStd-ThCn'; }
  .banner .button {
    left: 10px;
    bottom: 15px; }
  .banner .right-col .button a {
    font-size: 10px;
    padding: 0 20px 0 10px; }
  .banner .right-col .button a:after {
    top: 5px; } }

@media only screen and (max-device-width: 768px) {
  .right-col .large-img-header strong:first-child {
    font: 18px/18px 'Bello Script'; }
  .right-col .large-img-header strong:nth-child(2) {
    font: 22px/25px "HelveticaNeueLTStd-ThCn"; }
  .right-col .large-img-header strong:nth-child(3) {
    font: 10px/10px 'Helvetica Neue LT Std'; }
  .brands strong {
    left: 39%; } }

@media only screen and (max-device-width: 640px) {
  .main-social {
    background-color: transparent; }
    .main-social .email {
      float: none;
      margin-bottom: 25px; }
    .main-social .container {
      text-align: center; }
  .email-pointer {
    display: none; }
  .main-social input[type="email"] {
    display: block;
    float: left;
    width: calc(100% - 155px);
    margin: 0;
    padding: 30px;
    background-color: #ededed;
    font-size: 30px; }
  .main-social .wrapper-submit {
    float: right;
    height: 95px;
    width: 95px;
    margin: 0;
    position: relative; }
    .main-social .wrapper-submit .plus, .main-social .wrapper-submit .plus:before {
      position: absolute;
      background: #fff; }
    .main-social .wrapper-submit .plus {
      top: 50%;
      left: 50%;
      height: 37px;
      width: 12.33333px;
      transform: translate(-50%, -50%); }
      .main-social .wrapper-submit .plus:before {
        content: '';
        top: 33%;
        left: -100%;
        height: 12.33333px;
        width: 37px; }
  .main-social .social-pointer {
    font-size: 26px; }
  .main-social .main-social-icons a {
    height: 90px;
    width: 90px;
    line-height: 90px; }
  .main-social .main-social-icons .icon-facebook {
    background-image: url(../img/sprites/sprite.png);
    background-position: -73px -49px;
    width: 15px;
    height: 30px; }
  .main-social .main-social-icons .icon-twitter {
    background-image: url(../img/sprites/sprite.png);
    background-position: -126px -30px;
    width: 33px;
    height: 28px; }
  .main-social .main-social-icons .icon-pinterest {
    background-image: url(../img/sprites/sprite.png);
    background-position: 0px -121px;
    width: 22px;
    height: 21px; }
  .banner {
    display: none; } }

@media only screen and (max-device-width: 600px) {
  .main-social .email input {
    width: calc(100% - 125px);
    padding: 15px 30px; }
  .main-social .email .wrapper-submit {
    height: 65px;
    width: 65px; }
  .main-social .main-social-icons a {
    height: 70px;
    width: 70px;
    line-height: 70px; } }

@media only screen and (max-device-width: 500px) {
  .main-social .email input {
    width: calc(100% - 85px);
    padding: 20px 10px;
    font-size: 20px; } }

.tabs-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.tabs .tab {
  float: left;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #555;
  cursor: pointer; }

.tabs_cont {
  height: 450px; }

.tabs .tab.active {
  color: #fff;
  background-color: #fd926d; }

.owl-carousel {
  background-color: #fd926d; }

.tab_content {
  position: absolute;
  width: 1200px;
  opacity: 0; }

.active {
  opacity: 1; }

.owl-prev, .owl-next {
  position: absolute;
  top: -46px;
  height: 46px;
  width: 46px;
  color: transparent;
  background-color: #f2f2f2;
  -moz-transition: background-color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out; }

.owl-prev:after, .owl-next:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 17px; }

.owl-prev:after {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px 0px;
  width: 14px;
  height: 27px; }

.owl-next:after {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -54px;
  width: 14px;
  height: 27px; }

.owl-prev {
  right: 146px; }
  .owl-prev:hover {
    background-color: #fd926d; }
    .owl-prev:hover:after {
      background-image: url(../img/sprites/sprite.png);
      background-position: -105px -87px;
      width: 14px;
      height: 27px; }

.owl-next {
  right: 100px; }
  .owl-next:hover {
    background-color: #fd926d; }
    .owl-next:hover:after {
      background-image: url(../img/sprites/sprite.png);
      background-position: -159px -27px;
      width: 14px;
      height: 27px; }

.owl-carousel .owl-stage-outer {
  padding: 10px 0; }

.owl-carousel .review-item, .carousel .review-item {
  position: relative;
  width: 220px;
  padding: 10px; }
  .owl-carousel .review-item .item-img, .carousel .review-item .item-img {
    position: relative;
    height: 290px;
    background-color: #fff; }
  .owl-carousel .review-item img, .carousel .review-item img {
    max-height: 100%;
    max-width: 100%; }
  .owl-carousel .review-item .active-item a, .carousel .review-item .active-item a {
    display: none; }
  .owl-carousel .review-item:hover, .carousel .review-item:hover {
    width: 240px;
    margin-bottom: -25px;
    padding: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4); }
    .owl-carousel .review-item:hover .item-img, .carousel .review-item:hover .item-img {
      height: 310px; }
    .owl-carousel .review-item:hover .item-info, .carousel .review-item:hover .item-info {
      width: 240px; }
    .owl-carousel .review-item:hover .active-item a, .carousel .review-item:hover .active-item a {
      position: absolute;
      top: 100px;
      left: 50px;
      display: block;
      height: 135px;
      width: 135px;
      text-align: center;
      line-height: 170px;
      border-radius: 50%;
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      background-color: #3d3d3d; }
      .owl-carousel .review-item:hover .active-item a:after, .carousel .review-item:hover .active-item a:after {
        content: '';
        position: absolute;
        top: 40px;
        left: 52px;
        background-image: url(../img/sprites/sprite.png);
        background-position: -126px -58px;
        width: 30px;
        height: 29px;
        z-index: 20; }

.item-info {
  background-color: #fff;
  padding-bottom: 10px;
  text-align: center; }
  .item-info span {
    display: block;
    color: #373737; }
  .item-info .item-name {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase; }
  .item-info .item-price {
    font-size: 22px;
    margin-bottom: 10px; }
  .item-info .button {
    position: relative;
    width: 110px;
    margin: 0 auto;
    position: relative; }
    .item-info .button .plus, .item-info .button .plus:before {
      position: absolute;
      background: #fff; }
    .item-info .button .plus {
      top: 50%;
      left: 50%;
      height: 11px;
      width: 3.66667px;
      transform: translate(-50%, -50%); }
      .item-info .button .plus:before {
        content: '';
        top: 33%;
        left: -100%;
        height: 3.66667px;
        width: 11px; }
    .item-info .button a {
      display: block;
      padding: 10px;
      text-align: left;
      font-size: 9px;
      line-height: 9px;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 3px solid #fd926d;
      box-sizing: border-box;
      color: #fff;
      background-color: #fd926d; }
    .item-info .button .wrapper-plus {
      position: relative;
      float: right;
      height: 7px;
      margin-right: 12px; }

.inset {
  position: absolute; }
  .inset span {
    position: absolute;
    top: 5px;
    left: 5px;
    font: 10px/10px Helvetica;
    text-transform: uppercase;
    color: #fff;
    z-index: 20; }
  .inset:before {
    content: " ";
    position: absolute;
    border-top: 25px solid #4c4c4c;
    border-right: 25px solid #fff;
    border-bottom: 25px solid #fff;
    border-left: 25px solid #4c4c4c;
    z-index: 20; }

@media only screen and (max-device-width: 640px) {
  .tabs .container {
    position: relative;
    padding: 0; }
  .tabs .tabs-wrapper .tab {
    position: absolute;
    display: none;
    padding: 30px 15px;
    font-size: 30px;
    text-align: left;
    background-color: #f4845d;
    color: #fff; }
  .tabs .tabs-wrapper .tab {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 10; }
  .tabs .tabs-wrapper .tab-1 {
    top: 100%; }
  .tabs .tabs-wrapper .tab-2 {
    top: 195%; }
  .tabs .tabs-wrapper .tab-3 {
    top: 285%; }
  .tabs .tabs-wrapper .tab.active {
    position: relative;
    display: block;
    width: 100%;
    background-color: #f4845d; }
    .tabs .tabs-wrapper .tab.active:after {
      content: '';
      position: absolute;
      right: 60px;
      border-top: 10px solid #fff;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent; }
  .tab-paginator, .owl-nav {
    display: none; }
  .tabs .responsive-hide:not(.active) {
    display: none; }
  .owl-carousel .review-item, .carousel .review-item {
    width: 275px;
    padding: 15px; }
    .owl-carousel .review-item .item-img, .carousel .review-item .item-img {
      height: 365px; }
    .owl-carousel .review-item:hover, .carousel .review-item:hover {
      width: 295px;
      margin-bottom: -25px; }
      .owl-carousel .review-item:hover .item-img, .carousel .review-item:hover .item-img {
        height: 385px; }
      .owl-carousel .review-item:hover .item-info, .carousel .review-item:hover .item-info {
        width: 295px; }
      .owl-carousel .review-item:hover .active-item a, .carousel .review-item:hover .active-item a {
        top: 100px;
        left: 50px;
        height: 200px;
        width: 200px;
        line-height: 250px;
        font-size: 20px; }
        .owl-carousel .review-item:hover .active-item a:after, .carousel .review-item:hover .active-item a:after {
          top: 70px;
          left: 85px; }
  .tabs_cont {
    position: relative;
    height: 670px;
    background-color: #fd926d; }
  .tabs-button {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 10; }
    .tabs-button a {
      display: inline-block;
      padding: 20px 50px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      background-color: #000; }
  .item-info {
    padding-bottom: 15px;
    font-weight: normal; }
    .item-info .item-name {
      font-size: 18px;
      line-height: 30px; }
    .item-info .item-price {
      font-size: 28px;
      line-height: 40px; }
    .item-info .button {
      width: 220px; }
      .item-info .button a {
        padding: 20px;
        font-size: 20px;
        border-bottom: 7px solid #dd6b44;
        position: relative; }
        .item-info .button a .plus, .item-info .button a .plus:before {
          position: absolute;
          background: #fff; }
        .item-info .button a .plus {
          top: 50%;
          left: 50%;
          height: 17px;
          width: 5.66667px;
          transform: translate(-50%, -50%); }
          .item-info .button a .plus:before {
            content: '';
            top: 33%;
            left: -100%;
            height: 5.66667px;
            width: 17px; } }

.discount-element {
  position: absolute;
  z-index: 10;
  top: -80px;
  left: 50%;
  height: 170px;
  width: 180px;
  margin-left: -90px;
  background-color: #fff;
  background-image: url(../img/background-images/background-figure-dark.png);
  background-position: center center; }

.discount-info {
  padding: 35px 0;
  text-align: center;
  font-family: a_empirialregular;
  color: #fff; }
  .discount-info span {
    font-size: 36px;
    line-height: 36px; }
    .discount-info span::selection {
      background: transparent; }
    .discount-info span::-moz-selection {
      background: transparent; }
  .discount-info span ~ span {
    font-size: 80px;
    line-height: 65px; }
  .discount-info sup {
    font-size: 36px;
    vertical-align: middle; }
    .discount-info sup::selection {
      background: transparent; }
    .discount-info sup::-moz-selection {
      background: transparent; }
  .discount-info sub {
    margin-left: -0.5em;
    font-size: 36px;
    vertical-align: 0.2em; }
    .discount-info sub::selection {
      background: transparent; }
    .discount-info sub::-moz-selection {
      background: transparent; }

.product-items-carousel {
  margin-bottom: 50px; }

.owl-loaded {
  overflow: hidden; }
  .owl-loaded .owl-stage-outer {
    overflow: visible; }
  .owl-loaded .item-info {
    background-color: #f7f7f7; }

.discount-carousel {
  position: relative; }
  .discount-carousel .container .carousel {
    margin-top: 100px;
    padding-top: 100px;
    border-top: 2px solid #d8d8d8;
    background-color: transparent; }
    .discount-carousel .container .carousel .owl-stage-outer .owl-stage .owl-item {
      margin: 0 5px !important; }
