/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.account-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -51px 0px;
  width: 40px;
  height: 38px; }

.account-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -86px -121px;
  width: 14px;
  height: 13px; }

.arrow-large-left-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px 0px;
  width: 14px;
  height: 27px; }

.arrow-large-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -105px -87px;
  width: 14px;
  height: 27px; }

.arrow-large-right-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -54px;
  width: 14px;
  height: 27px; }

.arrow-large-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -27px;
  width: 14px;
  height: 27px; }

.arrow-medium-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -120px;
  width: 12px;
  height: 18px; }

.arrow-medium-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 18px; }

.arrow-small-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -100px -121px;
  width: 8px;
  height: 12px; }

.arrow-small-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -153px -108px;
  width: 5px;
  height: 8px; }

.bag-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px 0px;
  width: 51px;
  height: 49px; }

.bag-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -58px;
  width: 30px;
  height: 29px; }

.bag-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -68px;
  width: 20px;
  height: 19px; }

.burger-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px 0px;
  width: 33px;
  height: 30px; }

.burger-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -22px -121px;
  width: 22px;
  height: 20px; }

.home {
  background-image: url(../img/sprites/sprite.png);
  background-position: -142px -108px;
  width: 11px;
  height: 10px; }

.letter {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -108px;
  width: 16px;
  height: 12px; }

.search-lagre {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -49px;
  width: 38px;
  height: 38px; }

.search-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -111px -68px;
  width: 15px;
  height: 15px; }

.facebook-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -73px -49px;
  width: 15px;
  height: 30px; }

.facebook-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -148px -87px;
  width: 9px;
  height: 18px; }

.facebook-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -87px;
  width: 35px;
  height: 34px; }

.facebook-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -81px;
  width: 11px;
  height: 21px; }

.google {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -34px;
  width: 35px;
  height: 34px; }

.pinterest-dark {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -121px;
  width: 22px;
  height: 21px; }

.pinterest-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px 0px;
  width: 35px;
  height: 34px; }

.pinterest-medium {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -87px;
  width: 22px;
  height: 21px; }

.tumblr {
  background-image: url(../img/sprites/sprite.png);
  background-position: -38px -49px;
  width: 35px;
  height: 34px; }

.twitter-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -30px;
  width: 33px;
  height: 28px; }

.twitter-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -44px -121px;
  width: 21px;
  height: 17px; }

.twitter-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -70px -87px;
  width: 35px;
  height: 34px; }

.twitter-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -65px -121px;
  width: 21px;
  height: 17px; }

.vimeo {
  background-image: url(../img/sprites/sprite.png);
  background-position: -35px -87px;
  width: 35px;
  height: 34px; }

body {
  font: 14px/1.5em Arial, sans-serif;
  color: #999999; }

h1 {
  font-size: 32px;
  line-height: 1.5em; }

h2 {
  font-size: 28px;
  line-height: 1.5; }

h3 {
  font-size: 24px;
  line-height: 1.5; }

h4 {
  font-size: 20px;
  line-height: 1.5; }

h5 {
  font-size: 18px;
  line-height: 1.5; }

h6 {
  font-size: 16px;
  line-height: 1.5; }

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }

.inline-block-list {
  margin: 0;
  padding: 0; }
  .inline-block-list > li {
    display: inline-block; }

.icon {
  display: inline-block; }

.top-header {
  font-size: 11px;
  text-transform: uppercase;
  background-color: #000;
  color: #fff; }
  .top-header .left-col {
    float: left; }
    .top-header .left-col > span {
      display: block;
      padding: 10px 0; }
  .top-header .right-col {
    float: right; }
    .top-header .right-col > li:first-child {
      border-left: 1px solid #444444;
      border-right: 1px solid #444444; }
    .top-header .right-col > li:last-child {
      border-left: 1px solid #444444;
      border-right: 1px solid #444444; }

.dropdown-menu a {
  display: block;
  padding: 10px 30px 10px 15px;
  color: #fff;
  text-decoration: none; }

.static-item {
  position: relative; }
  .static-item > a:after {
    content: "";
    position: absolute;
    top: 17px;
    right: 10px;
    border: 5px solid transparent;
    border-top: 5px solid white; }

.dropdown-items {
  display: none;
  padding: 0; }
  .dropdown-items a {
    padding: 5px 10px;
    line-height: 1.2em; }

.dropdown-menu .dropdown-items li:nth-child(n) {
  border: none; }

.static-item:hover .dropdown-items {
  display: block; }

.static-item .dropdown-items {
  position: absolute;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 20; }

.account a {
  position: relative;
  padding: 10px 15px 10px 35px; }
  .account a:before {
    content: "";
    position: absolute;
    left: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../img/sprites/sprite.png");
    background-position: -86px -118px; }

.search {
  position: relative; }
  .search label {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 35px; }
    .search label:after {
      content: '';
      position: relative;
      top: 6px;
      margin-left: 10px;
      display: block;
      height: 25px;
      width: 15px;
      background-image: url("../img/sprites/sprite.png");
      background-position: -111px -62px;
      cursor: pointer; }
  .search input {
    position: absolute;
    top: 4px;
    right: 0;
    height: 30px;
    width: 300px;
    padding-left: 10px; }

.search.disabled input {
  display: none; }

.dropdown-menu .search .slide-down li {
  width: 100%; }

.slide-down {
  position: absolute;
  right: -2px;
  width: 305px;
  background-color: #fff;
  z-index: 20; }
  .slide-down a {
    padding: 5px 15px;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #444444;
    border-top: none;
    color: #000; }
    .slide-down a:hover {
      background-color: #f6f3ec; }

.slide-down.disabled {
  display: none; }

.main-header .container {
  padding: 20px 15px; }

.logo {
  float: left;
  padding-top: 20px; }
  .logo h1 {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }
  .logo a {
    text-decoration: none;
    color: #000; }
  .logo img {
    font-size: 20px;
    line-height: 24px; }

.cart-wrapper {
  float: right; }
  .cart-wrapper a {
    position: relative;
    display: block;
    width: 210px;
    padding: 5px 10px;
    border: 1px solid #949393;
    text-decoration: none;
    color: #949393; }
    .cart-wrapper a:hover {
      background-color: #fafafa; }
    .cart-wrapper a:first-child:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 10px;
      border: 5px solid transparent;
      border-top: 5px solid #949393;
      z-index: 10; }
    .cart-wrapper a:last-child {
      text-align: right;
      border-top: none; }
      .cart-wrapper a:last-child:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 10px;
        height: 20px;
        width: 22px;
        background-image: url("../img/sprites/sprite.png");
        background-position: -91px -68px;
        z-index: 10; }

.main-header-nav {
  float: right; }
  .main-header-nav > a {
    display: none;
    position: relative;
    cursor: pointer; }
    .main-header-nav > a:after {
      content: "";
      position: absolute;
      top: 10px;
      right: 15px;
      height: 30px;
      width: 35px;
      background-image: url("../img/sprites/sprite.png");
      background-position: -126px 0px; }

.media-nav-btn {
  padding: 15px 20px; }

.main-header-nav .inline-block-list > li {
  position: relative;
  z-index: 10; }
  .main-header-nav .inline-block-list > li > a {
    position: relative;
    display: block;
    padding: 20px 40px 0 0;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    cursor: pointer; }
    .main-header-nav .inline-block-list > li > a:after {
      content: "";
      position: absolute;
      top: 33px;
      right: 25px;
      border: 5px solid transparent;
      border-top: 5px solid #000; }

.submenu {
  position: absolute;
  display: none;
  left: -20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7); }
  .submenu > li {
    display: block;
    width: 150px; }
    .submenu > li > a {
      display: block;
      line-height: 30px;
      text-decoration: none;
      color: #000; }

@media only screen and (max-device-width: 860px) {
  .main-header-nav .inline-block-list > li > a {
    padding-right: 25px; }
  .main-header-nav .inline-block-list > li > a:after {
    right: 12px; } }

@media only screen and (max-device-width: 768px) {
  .static-item .dropdown-items.hide-dropdown-items {
    display: none; }
  .static-item .dropdown-items {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 20; }
  .main-header-nav {
    float: none;
    clear: both;
    background-color: #fd926d; }
  .main-header-nav > a {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
  .main-dropdown-menu {
    display: none; }
  .main-header-nav .main-dropdown-menu .nav-btn {
    padding: 0 20px; }
  .main-header-nav .submenu {
    position: static;
    padding-left: 40px;
    border-radius: 0; }
  .main-header-nav .inline-block-list > li {
    display: block; }
  .main-header-nav .inline-block-list > li a:after {
    border: none; }
  .cart-wrapper {
    padding-bottom: 20px; } }

@media only screen and (max-device-width: 640px) {
  .top-header .container {
    padding: 0; }
  .top-header .left-col, .top-header .right-col {
    float: none;
    padding: 0 15px; }
  .top-header .left-col {
    padding: 25px 15px;
    text-align: center;
    font-size: 30px;
    color: #838383;
    background-color: #fff; }
  .top-header .right-col li:first-child {
    border-left: none; }
  .top-header .right-col li:last-child {
    border-right: none; }
  .dropdown-menu {
    text-align: center; }
  .dropdown-menu a {
    padding: 35px 15px 35px 15px;
    font-size: 30px; }
  .static-item {
    float: left;
    margin-left: -15px;
    padding-right: 25px; }
  .top-header .right-col .static-item a:after {
    top: 40px;
    right: 12px;
    border: 10px solid transparent;
    border-top: 10px solid white; }
  .dropdown-items {
    text-align: left; }
  .dropdown-menu .dropdown-items a {
    padding: 15px 10px; }
  .right-col .account {
    padding-left: 60px; }
  .top-header .account a:before {
    top: 24px;
    left: -40px;
    height: 38px;
    width: 40px;
    background-position: -51px 0px; }
  .search {
    float: right;
    height: 90px;
    width: 90px; }
  .search label:after {
    top: 23px;
    left: -5px;
    height: 40px;
    width: 40px;
    background-position: 0px -49px; }
  .search input {
    height: 80px;
    width: 470px;
    font-size: 30px; }
  .search label:before {
    top: 35px;
    right: 15px; }
  .slide-down {
    top: 84px;
    right: 0;
    width: 470px;
    padding: 0;
    text-align: left; }
  .logo, .main-header-nav {
    float: none;
    text-align: center; }
  .logo {
    padding-bottom: 50px; }
  .cart-wrapper {
    float: none; }
  .cart-wrapper a {
    width: auto;
    height: 80px;
    padding-right: 20px;
    font-size: 30px;
    line-height: 80px; }
  .cart-wrapper a:first-child {
    display: none; }
  .cart-wrapper a:nth-child(2) {
    border-top: 1px solid #949393; }
  .cart-wrapper a:last-child:before {
    top: 16px;
    left: 20px;
    height: 50px;
    width: 50px;
    background-position: -1730px -1px; }
  .main-header-nav > a:after {
    top: 30px;
    right: 20px;
    height: 30px;
    width: 35px;
    background-position: -126px 0px; }
  .main-header-nav .media-nav-btn {
    text-align: left;
    font-size: 30px;
    padding: 35px 20px; }
  .main-header-nav .nav-btn {
    text-align: left; }
  .main-header-nav .submenu {
    text-align: left; } }

@media only screen and (max-device-width: 600px) {
  .logo {
    padding-bottom: 20px; }
  .cart-wrapper a:nth-child(2) {
    height: 50px; }
  .cart-wrapper a:last-child:before {
    top: 5px;
    left: 10px; }
  .cart-wrapper a:last-child {
    line-height: 50px; }
  .main-header-nav .media-nav-btn {
    padding: 20px 15px; }
  .main-header-nav > a:after {
    top: 15px;
    right: 15px; }
  .main-social .left-col input {
    padding: 12px 60px 15px 15px; }
  .main-social .left-col .submit-button {
    height: 65px;
    width: 65px;
    background-position: -218px -16px; }
  .main-social-icons li a {
    height: 60px;
    width: 60px; }
  .main-social-icons a::after {
    top: 5px;
    left: 5px; }
  .main-social .right-col span {
    line-height: 60px; }
  .main-social .right-col {
    width: 335px; } }

@media only screen and (max-device-width: 530px) {
  .search {
    width: 60px; } }

@media only screen and (max-device-width: 500px) {
  .top-header .left-col {
    padding: 0px 15px;
    font-size: 15px; }
  .dropdown-menu a {
    padding: 15px 5px;
    font-size: 15px; }
  .dropdown-menu .dropdown-items a {
    padding: 10px 5px; }
  .top-header .right-col .static-item a:after {
    top: 24px;
    right: 15px;
    border: 5px solid transparent;
    border-top: 5px solid white; }
  .right-col .account {
    padding-left: 40px; }
  .top-header .account a:before {
    top: 19px;
    left: -20px;
    height: 20px;
    width: 20px;
    background-position: -86px -121px; }
  .search {
    height: 50px; }
  .search input {
    height: 42px;
    width: 300px;
    font-size: 16px; }
  .search .slide-down {
    top: 52px;
    width: 300px; }
  .search label:before {
    top: 13px; }
  .search label:after {
    top: 16px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-position: -111px -68px; }
  .logo {
    padding: 0 0 10px 0; }
  .logo img {
    max-width: 280px; }
  .cart-wrapper a:nth-child(2) {
    height: 40px;
    font-size: 18px; }
  .cart-wrapper a:last-child:before {
    top: 0px; }
  .cart-wrapper a:last-child {
    line-height: 40px; } }

.bx-wrapper a.bx-prev {
  top: 238px;
  left: 8px;
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -120px;
  width: 12px;
  height: 18px; }

.bx-wrapper .bx-prev:hover {
  top: 238px;
  left: 8px;
  background-position: -159px -120px; }

.bx-wrapper a.bx-next {
  top: 238px;
  right: 8px;
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 18px; }

.bx-wrapper .bx-next:hover {
  top: 238px;
  right: 8px;
  background-position: -159px -102px; }

.bx-wrapper .bx-loading {
  background-image: none; }

.slide {
  height: 440px;
  background-color: #f6f3ec;
  background: -moz-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -webkit-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -o-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: -ms-linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%);
  background: linear-gradient(right, #ebe7de 0%, #ede6de 10%, #f4f1e9 51%, #ebe7de 100%); }
  .slide .container {
    position: relative;
    height: 100%; }
  .slide .slideImg {
    height: 100%; }
    .slide .slideImg img {
      height: 100%;
      margin: 0 0 0 350px; }
  .slide .slide-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    padding: 45px 0 0 65px;
    text-align: center; }
  .slide span {
    position: relative;
    display: block;
    font: 36px/1.2 luxuryroyalejfregular;
    color: #78645d; }
    .slide span:before, .slide span:after {
      content: "";
      position: absolute;
      top: 25px;
      display: block;
      height: 1px;
      width: 75px;
      background-color: #78645d; }
    .slide span:before {
      left: 45px; }
    .slide span:after {
      right: 45px; }
  .slide strong {
    font: 36px 'HelveticaNeueLTStd-LtCn';
    text-transform: uppercase;
    color: #78645d; }
  .slide .main-text {
    position: relative;
    display: block;
    margin-bottom: 3px;
    padding: 5px 0;
    border-bottom: 2px solid #78645d;
    font: 96px/0.8 'Helvetica Neue LT Std';
    letter-spacing: -2px;
    background: url("../img/background-images/background-text.jpg");
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
    .slide .main-text:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 1px solid #ccc3bc;
      width: 100%; }
    .slide .main-text:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      border-top: 1px solid #a2948d;
      width: 100%; }
  .slide .main-text + strong {
    position: relative;
    display: block;
    border-top: 1px solid #aa9d96; }
    .slide .main-text + strong:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      border-top: 1px solid #e5e0d9;
      width: 100%; }
  .slide a {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 130px;
    padding: 20px 20px 20px 0;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #dd6b44;
    color: #fff;
    background-color: #fd926d; }
    .slide a:after {
      content: "";
      position: absolute;
      top: 25px;
      right: 10px;
      border: 5px solid transparent;
      border-left: 5px solid white; }
    .slide a:hover {
      background-color: #dd6b44;
      background: -moz-linear-gradient(#fd926d, #dd6b44, #dd6b44);
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#fd926d), to(#dd6b44), color-stop(0.5, #dd6b44));
      background: -o-linear-gradient(#fd926d, #dd6b44, #dd6b44);
      background: -ms-linear-gradient(#fd926d, #dd6b44, #dd6b44);
      background: linear-gradient(#fd926d, #dd6b44, #dd6b44); }

.bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
  margin: 0 10px;
  background: #867a76; }
  .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link:hover, .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link:active {
    background-color: #fd926d; }

main .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: 0; }

.slide {
  position: relative; }
  .slide:before, .slide:after {
    content: '';
    position: absolute;
    top: 160px;
    height: 120px;
    width: 30px;
    background-color: white; }
  .slide:after {
    right: 0; }

@media only screen and (max-device-width: 1050px) {
  .slide > .container img {
    margin: 0 0 0 300px; } }

@media only screen and (max-device-width: 860px) {
  .slide > .container img {
    margin: 0 0 0 200px; }
  .slide .slide-info {
    width: 270px; }
  .slide span {
    font: 26px/1.2 luxuryroyalejfregular; }
  .slide span:before, .slide span:after {
    width: 50px;
    top: 20px; }
  .slide span:before {
    left: 40px; }
  .slide span:after {
    right: 40px; }
  .slide strong {
    font: 26px 'HelveticaNeueLTStd-LtCn'; }
  .slide .main-text {
    font: 70px/0.8 'Helvetica Neue LT Std'; } }

@media only screen and (max-device-width: 768px) {
  .slide {
    height: 350px; }
  .slide > .container img {
    margin: 0 0 0 230px; }
  .slide .container .slide-info {
    padding: 45px 0 0 70px; }
  .bx-wrapper .bx-controls .bx-controls-direction a {
    top: 190px; }
  .slide:before, .slide:after {
    top: 110px; }
  .bx-wrapper .bx-prev {
    top: 100px; } }

@media only screen and (max-device-width: 640px) {
  .slider {
    display: none; } }
