/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-account-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -51px 0px;
  width: 40px;
  height: 38px;
}
.icon-account-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -86px -121px;
  width: 14px;
  height: 13px;
}
.icon-arrov-medium-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -120px;
  width: 12px;
  height: 18px;
}
.icon-arrow-large-left-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -54px;
  width: 14px;
  height: 27px;
}
.icon-arrow-large-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px 0px;
  width: 14px;
  height: 27px;
}
.icon-arrow-large-right-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -105px -87px;
  width: 14px;
  height: 27px;
}
.icon-arrow-large-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -27px;
  width: 14px;
  height: 27px;
}
.icon-arrow-medium-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 18px;
}
.icon-arrow-small-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -100px -121px;
  width: 8px;
  height: 12px;
}
.icon-arrow-small-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -153px -108px;
  width: 5px;
  height: 8px;
}
.icon-bag-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px 0px;
  width: 51px;
  height: 49px;
}
.icon-bag-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -58px;
  width: 30px;
  height: 29px;
}
.icon-bag-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -68px;
  width: 20px;
  height: 19px;
}
.icon-burger-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px 0px;
  width: 33px;
  height: 30px;
}
.icon-burger-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -22px -121px;
  width: 22px;
  height: 20px;
}
.icon-home {
  background-image: url(../img/sprites/sprite.png);
  background-position: -142px -108px;
  width: 11px;
  height: 10px;
}
.icon-letter {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -108px;
  width: 16px;
  height: 12px;
}
.icon-search-lagre {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -49px;
  width: 38px;
  height: 38px;
}
.icon-search-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -111px -68px;
  width: 15px;
  height: 15px;
}
.icon-facebook-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -73px -49px;
  width: 15px;
  height: 30px;
}
.icon-facebook-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -148px -87px;
  width: 9px;
  height: 18px;
}
.icon-facebook-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -87px;
  width: 35px;
  height: 34px;
}
.icon-facebook-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -81px;
  width: 11px;
  height: 21px;
}
.icon-google {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -34px;
  width: 35px;
  height: 34px;
}
.icon-pinterest-dark {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -121px;
  width: 22px;
  height: 21px;
}
.icon-pinterest-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px 0px;
  width: 35px;
  height: 34px;
}
.icon-pinterest-medium {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -87px;
  width: 22px;
  height: 21px;
}
.icon-tumblr {
  background-image: url(../img/sprites/sprite.png);
  background-position: -38px -49px;
  width: 35px;
  height: 34px;
}
.icon-twitter-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -30px;
  width: 33px;
  height: 28px;
}
.icon-twitter-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -44px -121px;
  width: 21px;
  height: 17px;
}
.icon-twitter-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -70px -87px;
  width: 35px;
  height: 34px;
}
.icon-twitter-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -65px -121px;
  width: 21px;
  height: 17px;
}
.icon-vimeo {
  background-image: url(../img/sprites/sprite.png);
  background-position: -35px -87px;
  width: 35px;
  height: 34px;
}
