@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('./Helvetica/helveticaneueltstd-blkcn.woff2') format('woff2'),
  url('./Helvetica/helveticaneueltstd-blkcn.woff') format('woff'),
  url('./Helvetica/helveticaneueltstd-blkcn.ttf') format('truetype'),
  url('./Helvetica/helveticaneueltstd-blkcn.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-LtCn';
  src: url('./Helvetica/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
       url('./Helvetica/HelveticaNeueLTStd-LtCn.woff') format('woff'),
       url('./Helvetica/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
       url('./Helvetica/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-ThCn';
  src: url('./Helvetica/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
  url('./Helvetica/HelveticaNeueLTStd-ThCn.woff') format('woff'),
  url('./Helvetica/HelveticaNeueLTStd-ThCn.ttf') format('truetype'),
  url('./Helvetica/helveticaneueltstd-thcn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bello';
  src: url('./Bello/bello-script-1.woff2') format('woff2'),
  url('./Bello/bello-script-1.woff') format('woff'),
  url('./Bello/original-bello-script-1.ttf') format("truetype"),
  url('./Bello/bello-script-1.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'latoregular';
  src: url('./Lato/lato-regular-webfont.woff2') format('woff2'),
  url('./Lato/lato-regular-webfont.woff') format('woff'),
  url('./Lato/lato-regular-webfont.ttf') format('truetype'),
  url('./Lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latobold';
  src: url('./Lato/lato-bold-webfont.woff2') format('woff2'),
  url('./Lato/lato-bold-webfont.woff') format('woff'),
  url('./Lato/lato-bold-webfont.ttf') format('truetype'),
  url('./Lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'fontawesomeregular';
  src: url('./FontAwesome/fontawesome-webfont.woff2') format('woff2'),
  url('./FontAwesome/fontawesome-webfont.woff') format('woff'),
  url('./FontAwesome/fontawesome-webfont.ttf') format('truetype'),
  url('./FontAwesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'titillium_webregular';
  src: url('./Titillium/titilliumweb-regular-webfont.woff2') format('woff2'),
  url('./Titillium/titilliumweb-regular-webfont.woff') format('woff'),
  url('./Titillium/titilliumweb-regular-webfont.ttf') format('truetype'),
  url('./Titillium/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latoregular';
  src: url('./Lato/lato-regular-webfont.woff2') format('woff2'),
  url('./Lato/lato-regular-webfont.woff') format('woff'),
  url('./Lato/lato-regular-webfont.ttf') format('truetype'),
  url('./Lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latobold';
  src: url('./Lato/lato-bold-webfont.woff2') format('woff2'),
  url('./Lato/lato-bold-webfont.woff') format('woff'),
  url('./Lato/lato-bold-webfont.ttf') format('truetype'),
  url('./Lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'open_sanssemibold';
  src: url('./OpenSans/2212-webfont.woff2') format('woff2'),
  url('./OpenSans/2212-webfont.woff') format('woff'),
  url('./OpenSans/2212-webfont.ttf') format('truetype'),
  url('./OpenSans/2212-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'a_empirialregular';
  src: url('./Aempirial/aempirial-webfont.woff2') format('woff2'),
  url('./Aempirial/aempirial-webfont.woff') format('woff'),
  url('./Aempirial/aempirial.ttf') format('truetype'),
  url('./Aempirial/aempirial-webfont.svg#a_empirialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'impactregular';
  src: url('./Impact/impact-regular-0.woff2') format('woff2'),
  url('./Impact/impact-regular-0.woff') format('woff'),
  url('./Impact/original-impact-regular-0.ttf') format('truetype'),
  url('./Impact/impact-regular-0.svg#a_empirialregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'luxuryroyalejfregular';
    src: url('./LuxuryRoyale/luxuryroyalejf-webfont.woff2') format('woff2'),
         url('./LuxuryRoyale/luxuryroyalejf-webfont.woff') format('woff'),
         url('./LuxuryRoyale/luxuryroyalejf-webfont.ttf') format('truetype'),
         url('./LuxuryRoyale/luxuryroyalejf-webfont.svg#luxuryroyalejfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}