.discount-element {
  position: absolute;
  z-index: 10;
  top: -80px;
  left: 50%;
  height: 170px;
  width: 180px;
  margin-left:-90px;
  background-color: #fff;
  background-image: url(../img/background-images/background-figure-dark.png);
  background-position: center center;
}
.discount-info {
  padding: 35px 0;
  text-align: center;
  font-family: a_empirialregular;
  color: #fff;
  span {
    font-size: 36px;
    line-height: 36px;
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }
  }
  span ~ span {
    font-size: 80px;
    line-height: 65px;
  }
  sup {
    font-size: 36px;
    vertical-align: middle;
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }
  }
  sub {
    margin-left: -0.5em;
    font-size: 36px;
    vertical-align: 0.2em;
    &::selection {
      background: transparent;
    }
    &::-moz-selection {
      background: transparent;
    }
  }
}
.product-items-carousel {
  margin-bottom: 50px;
}
.owl-loaded {
  overflow: hidden;
  .owl-stage-outer {
    overflow: visible;
  }
  .item-info {
    background-color: $discount-item-bg-color;
  }
}
.discount-carousel {
  position: relative;
  .container {
    .carousel {
      margin-top: 110px;
      padding-top: 65px;
      border-top: 2px solid $discount-border-color;
      .owl-stage-outer {
        .owl-stage {
          padding-bottom: 40px;
          .owl-item {
            margin: 0 5px!important;
          }
        }
      }
      background-color: transparent;
    }
  }
}
.discount-button {
  display: none;
}
@media only screen and (max-device-width: 640px) {
  .discount-carousel {
    .owl-stage-outer {
      position: relative;
      height: 650px;
    }
  }
  .discount-button {
    position: absolute;
    display: block;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 10;
    a {
      display: inline-block;
      padding: 20px 50px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      background-color: #000;
    }
  }
}



