@mixin plus ($size){
  position: relative;
  .plus, .plus:before{
    position: absolute;
    background: #fff;
  }
  .plus{
    top: 50%;
    left: 50%;
    height: $size;
    width: $size/3;
    transform: translate(-50%, -50%);
    &:before{
      content: '';
      top: 33%;
      left: -100%;
      height: $size/3;
      width: $size;
    }
  }
}