/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.account-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -51px 0px;
  width: 40px;
  height: 38px; }

.account-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -86px -121px;
  width: 14px;
  height: 13px; }

.arrow-large-left-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px 0px;
  width: 14px;
  height: 27px; }

.arrow-large-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -105px -87px;
  width: 14px;
  height: 27px; }

.arrow-large-right-hover {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -54px;
  width: 14px;
  height: 27px; }

.arrow-large-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -27px;
  width: 14px;
  height: 27px; }

.arrow-medium-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -120px;
  width: 12px;
  height: 18px; }

.arrow-medium-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 18px; }

.arrow-small-left {
  background-image: url(../img/sprites/sprite.png);
  background-position: -100px -121px;
  width: 8px;
  height: 12px; }

.arrow-small-right {
  background-image: url(../img/sprites/sprite.png);
  background-position: -153px -108px;
  width: 5px;
  height: 8px; }

.bag-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px 0px;
  width: 51px;
  height: 49px; }

.bag-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -58px;
  width: 30px;
  height: 29px; }

.bag-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -68px;
  width: 20px;
  height: 19px; }

.burger-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px 0px;
  width: 33px;
  height: 30px; }

.burger-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -22px -121px;
  width: 22px;
  height: 20px; }

.home {
  background-image: url(../img/sprites/sprite.png);
  background-position: -142px -108px;
  width: 11px;
  height: 10px; }

.letter {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -108px;
  width: 16px;
  height: 12px; }

.search-lagre {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -49px;
  width: 38px;
  height: 38px; }

.search-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -111px -68px;
  width: 15px;
  height: 15px; }

.facebook-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -73px -49px;
  width: 15px;
  height: 30px; }

.facebook-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -148px -87px;
  width: 9px;
  height: 18px; }

.facebook-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -87px;
  width: 35px;
  height: 34px; }

.facebook-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -159px -81px;
  width: 11px;
  height: 21px; }

.google {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px -34px;
  width: 35px;
  height: 34px; }

.pinterest-dark {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -121px;
  width: 22px;
  height: 21px; }

.pinterest-light {
  background-image: url(../img/sprites/sprite.png);
  background-position: -91px 0px;
  width: 35px;
  height: 34px; }

.pinterest-medium {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -87px;
  width: 22px;
  height: 21px; }

.tumblr {
  background-image: url(../img/sprites/sprite.png);
  background-position: -38px -49px;
  width: 35px;
  height: 34px; }

.twitter-dark-large {
  background-image: url(../img/sprites/sprite.png);
  background-position: -126px -30px;
  width: 33px;
  height: 28px; }

.twitter-dark-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -44px -121px;
  width: 21px;
  height: 17px; }

.twitter-light-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -70px -87px;
  width: 35px;
  height: 34px; }

.twitter-medium-small {
  background-image: url(../img/sprites/sprite.png);
  background-position: -65px -121px;
  width: 21px;
  height: 17px; }

.vimeo {
  background-image: url(../img/sprites/sprite.png);
  background-position: -35px -87px;
  width: 35px;
  height: 34px; }
